################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RomanticFridge/.vs/RomanticFridge/FileContentIndex
/.vs
/RomanticFridge/.vs
